{% extends 'base.html'%}
{% import 'macros.html' as macro %}
{% block content%}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

<div class="container">	       
      
         
        <h2 style="color: #fb8b24; font-family: 'Permanent Marker', cursive;" class="text-center">Technology News Sources</h2>
        <hr>
        {{ macro.displaySourceList(technology_sources)}}


        <h2 style="color: #fb8b24; font-family: 'Permanent Marker', cursive;" class="text-center">Business News Sources</h2>        
        <hr>
        {{ macro.displaySourceList(business_sources)}}



        <h2 style="color: #fb8b24; font-family: 'Permanent Marker', cursive;" class="text-center"> Sports News Sources</h2>
        <hr>
        {{ macro.displaySourceList(sports_sources)}}

        <h2 style="color: #fb8b24; font-family: 'Permanent Marker', cursive;" class="text-center">Entertainment News Sources</h2>
        <hr>
        {{ macro.displaySourceList(entertainment_sources)}}
        
	
</div>


{%endblock%}