{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content%}
<div class="container">	       
      
         
        <h2 style="color: #fb8b24;" class="text-center">Technology News Sources</h2>
        <hr>
        {{ macro.displaySourceList(technology_sources)}}


        <h2 style="color: #fb8b24;" class="text-center">Business News Sources</h2>        
        <hr>
        {{ macro.displaySourceList(sources)}}



        <h2 style="color: #fb8b24;" class="text-center"> Sports News Sources</h2>
        <hr>
        {{ macro.displaySourceList(sports_sources)}}

        <h2 style="color: #fb8b24;" class="text-center"> Entertainment News Sources</h2>
        <hr>
        {{ macro.displaySourceList(entertainment_sources)}}
        
	
</div>


{%endblock%}